# Dependencias de Node
node_modules/

# Logs
*.log
npm-debug.log*

# Variables de entorno
.env
.env.local

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp
*.swo

# Temporales
tmp/
temp/
